<?xml version="1.0"?>

<launch>
    <arg name="camera" value="true" /> <!-- If camera is installed -->
    <param name="use_sim_time" value="false"/> <!-- Enable if Simulated -->
    <rosparam file="$(find ros_marty)/cfg/joint_calib.cfg" command="load" />
    <rosparam file="$(find ros_marty)/cfg/config.cfg" command="load" />
    <param name="launched" value="true"/>
    <node name="cmd_server" pkg="ros_marty" type="cmd_server" output="screen" clear_params="true"/>
    <param name="camera" value="$(arg camera)"/>
    <group if="$(arg camera)">
      <include file="$(find raspicam)/launch/raspicam.launch"/>
    </group>
    <param name="robot_description" textfile="$(find marty_description)/urdf/marty.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
